<section class="container py-5 my-5">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8 p-4">
            <div class="card bg-black text-light border borde-propio">
                <div class="card-header fw-bold fs-3 text-center mt-3">
                    {{titulo}}
                </div>
                <div class="card-body px-5">
                    <div class="row text-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-light bg-black p-3" style="font-size: 1.2rem;">
                                {{mensaje}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>